{% extends "MainApp/base.html" %}

{% block content %}
{% load static %}
<!-- HERO SECTION  -->
	<div class="site-hero">
		<ul class="slides">
			<li>
				<div><span class="small-title uppercase montserrat-text">Your password reset</span></div>
				<div class="big-title uppercase montserrat-text">Done</div>
				<p>We've send you the email with the instructions for setting your password,... if an account exists with the email you entered. Yuo should receive them shortly</p>
			</li>
			<li>
				<div><span class="small-title uppercase montserrat-text">Your password</span></div>
				<div class="big-title uppercase montserrat-text">Should be changed</div>
				<p>If you don't receive an email, please make sure you've entered the address you registered with, and please check your spam folder</p>
			</li>
		</ul>
	</div>
{% endblock %}
