{% extends "MainApp/base.html" %}

{% block content %}
{% load static %}
<!-- HERO SECTION  -->
	<div class="site-hero">
		<ul class="slides">
			<li>
				<div><span class="small-title uppercase montserrat-text">RESET EMAIL</span></div>
				<div class="big-title uppercase montserrat-text">Has been changed</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</li>
			<li>
				<div><span class="small-title uppercase montserrat-text">Your password</span></div>
				<div class="big-title uppercase montserrat-text">is ready to go</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. </p>
			</li>
		</ul>
	</div>
<!-- CHANGE EMAIL SECTION -->
	<div class="container">
		<div class="agency">
			<div class="col-md-5 col-sm-12">
				<div class="row">
					<img src="{% static 'MainApp/img/agency.jpg' %}" alt="image">
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6 col-sm-12">
				<div class="row">
					<div class="section-title">
						<span>Let's make some changes</span>
					</div>
					<p>
                      {% autoescape off%}
                      To initiate the password reset please process for your Account {{ user.username }}
                      click the link below:
                      {{ protocol }}://{{ domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}
                      If clicking the link above doesn't work...
                      we are sorry. Please copy and paste the link in a new browser window instead.

                      Sincerely,
                      DarishkaAMS Team
                      {% endautoescape %}
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
